body{
  margin: 0;
}
.grid{
  display:grid;
  grid-template-columns: 3fr 6fr 1fr 5fr 10fr 2fr;
  grid-template-rows: 100px auto 15px auto auto;
}

.img1 {
  background: url('../img/3.jpg');
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 2 / 5;
}

.img2 {
  background: url('../img/2.jpg');
  background-size: cover;
   grid-column: 2 / 4;
  grid-row: 3 / 6;
}

.img3 {
  background: url('../img/1.jpg');
  background-size: cover;

     grid-column: 5 / 7;
  grid-row: 4 / 6;
}

.strapline {
  grid-column: 3 / span 3;
  grid-row: 2 / span 1;
}

.cta-wrapper {
  grid-column: 4 / span 2;
  grid-row: 4 / span 2;
}

body {
  color: #292929;
  font: 1em/1.7 'Open sans', sans-serif;
}

blockquote {
  font: italic 1.1em/2 'Playfair Display', serif;
  margin: 0 0 2em 0;
}

.cta h1 {
  font: bold 6em/1 'Playfair Display', serif;
  margin: 0 0 20px 0;
  position: relative;
}

.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  background: #292929;
  padding: .8em 1.5em;
}

.button:hover {
  background: black;
}

.strapline {
  margin-top: 100px;
  position: relative;
  padding: 0 16%;
}

.strapline::before {
  content: '';
  display: block;
  background: url(wavy.svg) repeat-x;
  background-size: cover;
  width: 20%;
  height: .5em;
  position: absolute;
  top: -3em;
  left: 40%;
}

.cta {
    padding: 100px 0 100px 20%;
}
